
<div><img src="assets/images/Logo_UniBw-Muenchen.jpg" class="logo" alt="Logo UniBw"> <!-- Logo über den Slides --></div>

  <div class="slideshow-container"> <!-- Hauptcontainer für die Slideshow -->

    <div class="mySlides fade"> <!-- Erste Folie -->
      <img src="assets/images/unibw_1.jpg" style="width:100%"> <!-- Bild, nimmt die volle Breite des Containers ein -->
    </div>

    <div class="mySlides fade"> <!-- Zweite Folie -->
      <img src="assets/images/unibw_2.jpg" style="width:100%"> <!-- Bild, nimmt die volle Breite des Containers ein -->
    </div>

    <div class="mySlides fade"> <!-- Dritte Folie -->
      <img src="assets/images/unibw_3.jpg" style="width:100%"> <!-- Bild, nimmt die volle Breite des Containers ein -->
    </div>

  </div>