<div class="container">
  <div class="title-box">
    <div class="title">
      <h1>WebTech: CommunityMashup</h1>
    </div>
  </div>
  <div id="buttonContainer"></div>
  <input type="text" placeholder="Durchsuche Daten ..." (input)="onSearch($event)" class="search-bar">
  <div *ngIf="tableVisible" class="info-text">Klicke jeweilige Zelle für gesamten Zelleninhalt</div>
  <div id="dataContainer"></div>
</div>
<app-detail-view></app-detail-view>

<!-- Modal für den Inhalt einer Zelle -->
<div id="cellModal" class="modal" (click)="closeCellModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeCellModal()">&times;</span>
    <p id="cellContent"></p>
  </div>
</div>