<div class="container">
  <div class="title-box">
    <div class="title">
      <span class="letter">C</span>
      <span class="letter">o</span>
      <span class="letter">m</span>
      <span class="letter">m</span>
      <span class="letter">u</span>
      <span class="letter">n</span>
      <span class="letter">i</span>
      <span class="letter">t</span>
      <span class="letter">y</span>
      <span class="letter">M</span>
      <span class="letter">a</span>
      <span class="letter">s</span>
      <span class="letter">h</span>
      <span class="letter">u</span>
      <span class="letter">p</span>
      <span class="letter">-</span>
      <span class="letter">D</span>
      <span class="letter">a</span>
      <span class="letter">t</span>
      <span class="letter">a</span>
    </div>
  </div>
  <div id="buttonContainer"></div>
  <input type="text" placeholder="Durchsuche Daten ..." (input)="onSearch($event)" class="search-bar">
  <div *ngIf="tableVisible" class="info-text">Klicke jeweilige Zelle für detaillierte Infos</div>
  <div id="dataContainer"></div>
</div>
<app-detail-view></app-detail-view>

<!-- Modal für den Inhalt einer Zelle -->
<div id="cellModal" class="modal" (click)="closeCellModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeCellModal()">&times;</span>
    <p id="cellContent"></p>
  </div>
</div>