.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #000000cf;
  margin: 5% auto;
  padding: 20px;
  border: 2px solid #fff;;
  border-radius: 10px; /* Abgerundete Ecken */
  width: 85%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
  display: flex;
  align-items: flex-start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schatteneffekt */
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.detail-container {
  display: flex;
  align-items: flex-start;
}

.profile-image {
  max-width: 200px;
  max-height: 200px;
  margin-right: 20px;
  border-radius: 10px; /* Abgerundete Ecken für das Bild */
  object-fit: cover;
}

.details {
  flex-grow: 1;
  font-family: 'Arial', sans-serif; /* Elegantere Schriftart */
}

.details h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  color: #ffffff;
}

.string-value {
  border: 1px solid #373737;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px; /* Abgerundete Ecken für den Kasten */
  font-size: 16px;
  color: #000000;
}