<div class="modal" [class.show]="isVisible" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <ng-container *ngIf="data">
      <ng-container [ngSwitch]="data.type">
        <ng-container *ngSwitchCase="'data:person'">
          <div class="detail-container">
            <img *ngIf="imageUrl" [src]="imageUrl" alt="{{ data.name }}" class="profile-image">
            <div class="details">
              <h2>{{ data.name }}</h2>
              <div class="string-value" [innerHTML]="data.stringValue"></div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'data:organisation'">
          <div class="detail-container">
            <img *ngIf="imageUrl" [src]="imageUrl" alt="{{ data.name }}" class="profile-image">
            <div class="details">
              <h2>{{ data.name }}</h2>
              <div class="string-value" [innerHTML]="data.stringValue"></div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <h2>Details</h2>
          <pre>{{ data | json }}</pre>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>